* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a, a:visited {
    color: inherit;
    text-decoration: inherit;
    list-style: none;
}
input, select {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
  }
  
input:focus, select:focus {
  outline: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #102250;
}
.wrapper { 
    margin: 0 auto;
    padding: 0 20px;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding:25px;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 8px;
}
.form-heading {
    width: 100%;
    & h2 {
        font-size: 28px;
        line-height: 33px;
        width: 100%;
        text-align: center;
    }
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    &_name input, &_pass input, &_sign-in input, select {
        font-size: 14px;
        line-height: 16px;            
        color: #898F94;
        width: 350px;
        height: 45px;
        padding-left: 40px;
        background: #F5F8FA;
        border: 1px solid #FF0000;
        border-radius: 8px;
    }    
    &_name{
        position: relative;
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            width: 20px;
            height: 16px;
            top: 14px;
            left: 11px;
            background-image: url('../img/name-icon.png');
            z-index: 1;
        }
        & input:focus {
            border: 1px solid #DBE0E4;
        }
    }
    &_pass {
        position: relative;
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            width: 16px;
            height: 20px;
            top: 12px;
            left: 11px;
            background-image: url('../img/pass-icon.png');
            z-index: 1;
        }        
        & input:focus {
            border: 1px solid #DBE0E4;
        }
        & span {
            position: absolute;
            width: 18px;
            height: 18px;
            top: 14px;
            right: 13px;
            transition: 0.1s ease;
            background-image: url('../img/passWatch-icon.png');
            cursor: pointer;
            z-index: 1;
        }
        & .pass_visibility__hidden {
            transform: scale(1.5, 0.3);
        }
    }
    &_country {
        position: relative;
        & .country_arrow {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 20px;
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            border-bottom: 0.5px solid #4d4d4d;
            border-right: 0.5px solid #4d4d4d;
            z-index: 1;
            pointer-events: none;
        }
        & .country_arrow__rotate {
            top: 22px;
            transform: rotate(-135deg) !important;
        }
    }
    &_country select {
        position: relative;
        padding-left: 32px;
        padding-right: 10px;
        -moz-appearance:none; 
        -webkit-appearance:none; 
        appearance: none;        
    }
    
    &
    &_country select:focus {
        border: 1px solid #DBE0E4;
    }

    &_gender {
        padding-left: 10px;
        & label {
            padding-left: 4px;
            padding-right: 10px;
        }
    }
    &_agreement {
        position: relative;
        padding-left: 10px;
        & label {
            padding-left: 26px;
        }
        & label:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 2.5px;
            left: 10px;
            flex-shrink: 0;
            flex-grow: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            width: 13px;
            height: 13px;
            border: 0.5px solid #ADB5BD;
        }
        & label a {
            color: #0094FF;
        }
        
    }
    &_sign-in input {
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        padding: 0;
        background: #A2A2A2;
        border: #DBE0E4;
        border-radius: 12px;
    }

}
#user_terms {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
#user_terms:checked+label::before {
    border-color: #0094FF;
}
#user_terms:checked+label::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 7px;
    border-bottom: 0.5px solid #0094FF;
    border-right: 0.5px solid #0094FF;
    top: 4px;
    left: 16px;
    transform: rotate(45deg);
}

.required_field {
    &:after {
        content: 'Requierd Field';
        display: inline-block;
        position: absolute;
        font-size: 10px;
        width: 70px;
        top: 55px;
        left: 20px;
        color: #FF0000;
    }
}
.sign-in__active {
    background: #0094FF;
}
.input__active {
    border: 1px solid #DBE0E4 !important;
}
.form_button__active {
    background: #0094FF !important;
}

